# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

print(g_key)

AIzaSyAwWbjveUO1kEawFOGfohUrbqtBuHxX4cM

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
file_one = "../CityWeatherData.csv"
df = pd.read_csv(file_one)
df.head()

,City,Lat,Lng,Max Temp (F),Humidity (%),Cloudiness (%),Windspeed (mph),Country,Date
0,Upernavik,72.7868,-56.1549,45.07,65,100,3.00,GL,1627316318
1,Busselton,-33.6500,115.3333,57.09,61,48,28.72,AU,1627316482
2,Nhulunbuy,-12.2333,136.7667,74.01,88,83,5.75,AU,1627316539
3,New Norfolk,-42.7826,147.0587,53.92,57,97,5.77,AU,1627316308
4,Khatanga,71.9667,102.5000,60.85,64,73,11.81,RU,1627316540

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
coordinates = df.loc[:,['Lat','Lng']]
coordinates.values.tolist()

gmaps.configure(g_key)
figure_layout = {
    'width':'400px',
    'height':'300px',
    'border':'1px solid black',
    'padding':'1px',
    'margin':'0 auto 0 auto'    
}
fig = gmaps.figure(layout=figure_layout)

# create heat layer
heatmap_layer = gmaps.heatmap_layer(
    coordinates, weights=df['Humidity (%)'],
    max_intensity=100, point_radius=10.0)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
#filtered_df = df.loc['Max Temp (F)' > 70, 'Max Temp (F)' < 80, 'Windspeed (mph)' < 10, 'Cloudiness (%)' == 0]
filtered_df = df[df['Max Temp (F)'] > 70]
filtered_df = filtered_df[filtered_df['Max Temp (F)'] < 80]
filtered_df = filtered_df[filtered_df['Windspeed (mph)'] < 10]
filtered_df = filtered_df[filtered_df['Cloudiness (%)'] == 0]
hotel_df = filtered_df[["City", "Country", "Max Temp (F)", "Lat", "Lng"]].copy()
hotel_df['Hotel Name'] = ""
hotel_df

                     City Country  Max Temp (F)      Lat       Lng Hotel Name
15   Vila Franca do Campo      PT         73.81  37.7167  -25.4333
421             Mariehamn      AX         76.86  60.0973   19.9348
493                Hamada      JP         78.01  34.8833  132.0833
495                  Hebi      CN         79.56  35.8992  114.1925

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [20]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    #"location": "37.7167,-25.16522",
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

for index, row in filtered_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    hotels = requests.get(base_url, params=params).json()

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [21]:
hotel_df

,City,Country,Max Temp (F),Lat,Lng,Hotel Name
15,Vila Franca do Campo,PT,73.81,37.7167,-25.4333,Pestana Bahia Praia
421,Mariehamn,AX,76.86,60.0973,19.9348,Park Alandia Hotel
493,Hamada,JP,78.01,34.8833,132.0833,Shimane Hamada Washington Hotel Plaza
495,Hebi,CN,79.56,35.8992,114.1925,Wangfu Hotel

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# Add marker layer ontop of heat map
coordinates = hotel_df.loc[:,['Lat','Lng']]
coordinates.values.tolist()
markers = gmaps.marker_layer(coordinates)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦